In [10]:
import yfinance as yf
dat = yf.Ticker("MSFT")
dat.info
dat.calendar
dat.analyst_price_targets
dat.quarterly_income_stmt
dat.history(period='1mo')
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250117C00110000,2025-01-10 19:59:32+00:00,110.0,311.06,0.0,0.00,0.0,0.0,2.0,0,0.000010,True,REGULAR,USD
1,MSFT250117C00115000,2025-01-02 20:51:49+00:00,115.0,303.60,0.0,0.00,0.0,0.0,11.0,0,0.000010,True,REGULAR,USD
2,MSFT250117C00120000,2024-12-27 18:38:06+00:00,120.0,309.00,0.0,0.00,0.0,0.0,1.0,0,0.000010,True,REGULAR,USD
3,MSFT250117C00125000,2025-01-14 14:30:15+00:00,125.0,293.11,0.0,0.00,0.0,0.0,1.0,0,0.000010,True,REGULAR,USD
4,MSFT250117C00130000,2025-01-14 15:13:46+00:00,130.0,288.15,0.0,0.00,0.0,0.0,1.0,0,0.000010,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,MSFT250117C00680000,2024-11-27 16:56:40+00:00,680.0,0.01,0.0,0.01,0.0,0.0,10.0,157,1.812501,False,REGULAR,USD
131,MSFT250117C00685000,2024-11-27 16:57:12+00:00,685.0,0.01,0.0,0.01,0.0,0.0,10.0,41,1.843751,False,REGULAR,USD
132,MSFT250117C00690000,2024-11-27 16:57:35+00:00,690.0,0.01,0.0,0.01,0.0,0.0,NaN,10,1.875001,False,REGULAR,USD
133,MSFT250117C00695000,2024-11-27 16:58:00+00:00,695.0,0.01,0.0,0.01,0.0,0.0,10.0,13,1.875001,False,REGULAR,USD
134,MSFT250117C00700000,2025-01-10 16:43:04+00:00,700.0,0.01,0.0,0.00,0.0,0.0,3.0,0,0.500005,False,REGULAR,USD

In [11]:
tickers = yf.Tickers('AAPL')
tickers.tickers['AAPL'].info
yf.download( 'AAPL', period='1mo')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2024-12-16  251.039993  251.380005  247.649994  247.990005   51694800
2024-12-17  253.479996  253.830002  249.779999  250.080002   51356400
2024-12-18  248.050003  254.279999  247.740005  252.160004   56774100
2024-12-19  249.789993  252.000000  247.089996  247.500000   60882300
2024-12-20  254.490005  255.000000  245.690002  248.039993  147495300
2024-12-23  255.270004  255.649994  253.449997  254.770004   40858800
2024-12-24  258.200012  258.209991  255.289993  255.490005   23234700
2024-12-26  259.019989  260.100006  257.630005  258.190002   27237100
2024-12-27  255.589996  258.700012  253.059998  257.829987   42355300
2024-12-30  252.199997  253.500000  250.750000  252.229996   35557500
2024-12-31  250.419998  253.279999  249.429993  252.440002   39480700
2025-01-02  243.850006  249.100006  241.820007  248.929993   55740700
2025-01-03  243.360001  244.179993  241.889999  243.360001   40244100
2025-01-06  245.000000  247.330002  243.199997  244.309998   45045600
2025-01-07  242.210007  245.550003  241.350006  242.979996   40856000
2025-01-08  242.699997  243.710007  240.050003  241.919998   37628900
2025-01-10  236.850006  240.160004  233.000000  240.009995   61710900
2025-01-13  234.399994  234.669998  229.720001  233.529999   49630700
2025-01-14  233.279999  236.119995  232.470001  234.750000   39435300
2025-01-15  237.869995  238.960007  234.429993  234.639999   39783600

In [12]:
spy = yf.Ticker('SPY').funds_data
spy.description
spy.top_holdings

                                  Name  Holding Percent
Symbol
AAPL                         Apple Inc         0.075770
NVDA                       NVIDIA Corp         0.065938
MSFT                    Microsoft Corp         0.062729
AMZN                    Amazon.com Inc         0.041097
META        Meta Platforms Inc Class A         0.025549
TSLA                         Tesla Inc         0.022575
GOOGL             Alphabet Inc Class A         0.022140
AVGO                      Broadcom Inc         0.021675
GOOG              Alphabet Inc Class C         0.018142
BRK-B   Berkshire Hathaway Inc Class B         0.016631

In [15]:
import yfinance as yf
import yfinance.utils as yfu

# Function to get ticker symbol from company name
def get_ticker_from_name(company_name):
    try:
        # This fetches ticker using yfinance utils for better matching
        tickers = yfu.search(company_name)
        if tickers:
            return tickers[0]['symbol']
        else:
            print(f"No ticker found for {company_name}")
            return None
    except Exception as e:
        print(f"Error: {e}")
        return None

# Ask user for company name
company_name = input("Enter the company name: ")

# Get ticker symbol for the company name
ticker_symbol = get_ticker_from_name(company_name)

if ticker_symbol:
    # Fetch the data for the given ticker symbol
    dat = yf.Ticker(ticker_symbol)
    
    # Fetch various data from yfinance
    print(f"Fetching data for: {ticker_symbol}")
    print("Company Info:")
    print(dat.info)
    
    print("\nCompany Calendar:")
    print(dat.calendar)
    
    print("\nAnalyst Price Targets:")
    print(dat.analyst_price_targets)
    
    print("\nQuarterly Income Statement:")
    print(dat.quarterly_income_stmt)
    
    print("\nHistorical Data (1 month):")
    print(dat.history(period='1mo'))
    
    print("\nOption Chain (first expiration):")
    print(dat.option_chain(dat.options[0]).calls)
    
    # Fetch data for multiple tickers
    tickers = yf.Tickers(ticker_symbol)
    print("\nMultiple Tickers Info:")
    print(tickers.tickers[ticker_symbol].info)
    
    # Download historical data for the company
    historical_data = yf.download([ticker_symbol], period='1mo')
    print("\nHistorical Data Downloaded:")
    print(historical_data)
else:
    print("Unable to fetch data.")

Error: module 'yfinance.utils' has no attribute 'search'
Unable to fetch data.